@media(max-width: 991px) {
    .wrapper {
        max-width: 320px;

    }

    .wow {
        visibility: visible;
    }

    section {
        padding: 40px 0;
    }

    .title {
        font-size: 30px;
    }

    .header {
        padding-bottom: 10px;
    }

    .logo {
        display: block;
        max-width: 188px;
        margin: auto;
        margin-bottom: 20px;
    }

    .logo__text {
        display: block;
        text-align: center;
        margin: auto;
        font-size: 13px;
    }

    .sec1__cell,
    .sec2__item,
    .sec3__item,
    .sec6__left,
    .sec6__right,
    .sec9__item,
    .sec11__item,
    .sec11__left,
    .sec11__right,
    .sec11__item-img,
    .sec11__item-text,
    .sec13__left,
    .sec13__right {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .sec1__list {
        margin-bottom: 80px;
    }

    .sec1__prod {
        margin-bottom: 20px;
    }

    .chevron__container {
        padding: 25px;
    }

    .sec1__chevron {
        top: -97px;
    }

    .chevron {
        font-size: 9px;
    }

    .chevron b {
        font-size: 20px;
    }

    .chevron div:nth-child(2) b {
        font-size: 16px;
    }

    .sec2 {
        padding-bottom: 40px;
    }

    .sec2 .wrapper {
        padding-left: 10px;
    }

    .sec2__title+p,
    .sec2__title {
        padding-left: 0;
    }

    .sec2__item {
        margin-bottom: 10px;
        min-height: 1px;
    }

    .sec2 .wrapper::before {
        position: static;
        width: 300px;
        height: 460px;
        display: block;
        margin-bottom: 10px;
    }

    .sec2__item-img {
        margin: 0 0 30px 10px;
    }

    .sec3__img {
        position: static;
    }

    .sec3__item {
        padding: 10px;
        border-radius: 10px;
        background: linear-gradient(to top, #e0ccca, transparent);
        margin-bottom: 10px;
    }

    .sec3__caption {
        font-size: 24px;
    }

    .green-line,
    .green-line .wrapper {
        padding: 0;
    }

    .green-line p {
        font-size: 22px;
        padding: 20px;
    }

    .sec5 .wrapper {
        padding-left: 10px;
        padding-top: 420px;
    }

    .sec5 p::before {
        bottom: auto;
        left: 50%;
        top: -419px;
        transform: translateX(-50%);
    }

    .sec5 {
        padding: 40px 0;
    }

    .sec6__left {
        margin-bottom: 15px;
    }

    .sec6__percent::after {
        display: none;
    }

    .sec8__item:nth-child(even) {
        margin-left: 0;
    }

    .sec8__list--right,
    .sec8__list--left {
        float: none;
        width: 100%;
        padding: 0;
    }

    .sec8__list--right {
        padding-top: 240px;
    }

    .sec8__list--right::before {
        left: 50%;
        transform: translateX(-50%);
        top: -10px;
        max-width: 260px;
    }

    .sec8__count {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .sec8__text {
        display: block;
        width: 100%;
        padding-left: 0;
    }

    .sec10 {
        padding: 40px 0;
    }

    .sec10 .wrapper {
        padding-left: 10px;
    }

    .sec10 .wrapper::before {
        position: static;
        width: 280px;
        height: 408px;
        display: block;
        background-size: contain;
        margin: auto;
        margin-bottom: 15px;
    }

    .sec10__title {
        margin-bottom: 40px;
    }

    .btn--bigger {
        padding: 15px 10px;
        font-size: 19px;
    }

    .sec11__right {
        padding-left: 0;
    }

    .sec11__content {
        padding: 30px 15px;
    }

    .sec11__item-img {
        width: 50%;
    }

    .sec11__item-text {
        padding-left: 0;
        padding-top: 10px;
    }

    .sec12__list {
        padding-left: 25px;
    }

    .sec11__title {
        margin-bottom: 20px;
    }

    .sec12__item {
        padding: 25px 30px;
    }

    .sec12__item::before {
        top: -25px;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }

    .sec13__doc {
        width: 260px;
        height: 434px;
        margin: auto;
        margin-top: -120px;
        background-size: contain;
        margin-bottom: 40px;
    }

    .sec13__doc::after {
        left: -20px;
        bottom: -20px;
        width: 260px;
        height: 430px;

    }

    .sec13__right {
        padding-left: 0;
    }

    .sec13__title {
        text-align: left;
    }


    .sec14__item {
        margin-right: 0;
        width: 100%;
        padding: 10px;
    }

    .slick-list {
        overflow: hidden;
    }

    .slick-arrow {
        height: 24px;
        background-color: transparent;
        border: none;
        padding: 0;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        cursor: pointer;
    }

    .slick-arrow::before {
        content: '\e91e';
        font-size: 24px;
    }

    .slick-arrow[class*="prev"] {
        -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    .slick-disabled {
        opacity: .3;
    }

    .slick-dots {
        text-align: center;
    }

    .slick-dots li {
        display: inline-block;
    }

    .slick-dots li.slick-active button {
        background: #095151;

    }

    .slick-dots button {
        padding: 0;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: none;
        margin: 0 10px;
        border: 1px solid #095151;
        background: transparent;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        cursor: pointer;
        font-size: 0;
    }

    .sec15__price-text {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .sec15 .chevron {
        top: -26px;
        right: 0px;
    }


    .t-row:nth-child(2) .t-cell:nth-child(2) .t-cell__line {
        width: 24%;
    }

    .sec15__prod {
        padding-top: 70px;
        padding-bottom: 20px;
        float: none;
        padding-right: 0;
        width: 100%;
    }

    .sec15__form {
        float: none;
        width: 100%;
        margin-right: 0;
    }
        .sec6__right .t-cell {
        width: 100%;
    margin-bottom: 20px;
    }
}

@media(min-width: 992px) {
    .sec1 {
        padding-bottom: 185px;
    }


}