* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #095151;
    line-height: 1.3;
    counter-reset: section;
}

.overflow {
    overflow: hidden;
}

.wrapper {
    max-width: 970px;
    margin: auto;
    padding: 0 10px;
    position: relative;
}

img {
    max-width: 100%;
    border: 0;
}

.clear {
    display: table;
    clear: both;
}


ul {
    margin: 0;
    list-style-type: none;
}

.header {
    background: #3e6a6f;
    padding: 10px 0 25px;
}

.logo {
    background: #fff;
    position: relative;
    color: #ab1f1e;
    display: inline-block;
    padding: 10px;
    font-family: 'Itim',
        cursive;
    font-weight: 700;
    text-transform: uppercase;
}

.logo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    background: url(../img/logo-triangle.svg) no-repeat;
    width: 100%;
    height: 15px;
    display: block;
}

.logo__text {
    display: inline-block;
    vertical-align: middle;
    color: #dadddd;
    margin-left: 15px;
    font-style: italic;
    font-weight: 700;
}

section {
    padding: 70px 0;
    position: relative;
}

.title {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.sec1 {
    background: url(../img/sec1__bg.jpg) no-repeat center/cover;
    color: #fff;
    padding-bottom: 120px;
}

.sec1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to top, rgb(24, 75, 75) 0%, rgba(16, 116, 116, 0.86) 74%, rgba(204, 204, 199, 0.82) 100%);
}

.sec1::after,
.sec15::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 20vh;
    pointer-events: none;
    background: url(../img/bottom.svg) no-repeat;
    
    background-size: 100% 100%;
}

.main-title {
    color: rgb(255, 216, 0);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.post-title {
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.sec1__content {
    font-size: 0;
}

.sec1__cell {
    display: inline-block;
    width: 33.33%;
    vertical-align: bottom;
    font-size: 16px;
}

.sec1__prod {
    vertical-align: bottom;
    padding: 0 20px;
    position: relative;
}

.sec1__list {
    line-height: 1.1;
    padding-bottom: 30px;
}

.sec1__item {
    border-bottom: 2px solid rgba(134, 201, 186, 0.75);
    padding: 13px 0 13px 30px;
    position: relative;
}

.sec1__item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    background: url(../img/check-circle.svg) no-repeat;
    width: 25px;
    height: 25px;
    background-size: contain;
    fill: #fff
}

.sec1__chevron {
    position: absolute;
    top: -150px;
    right: 20px;
}

.form {
    border-radius: 10px;
    background-color: rgba(122, 209, 190, 0.5);
    padding: 15px;
    border: 2px dashed rgb(255, 255, 255);
    max-width: 316px;
}

.price {
    color: rgb(255, 232, 0);
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.price__new {
    font-size: 25px;

}

.form__text {
    margin-bottom: 15px;
}

form input,
form select {
    display: block;
    width: 100%;
    margin-bottom: 10px;

    height: 40px;
    padding: 0 15px;
    background: #fff;
}

.btn {
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, .3);
    font-size: 20px;
    background: rgb(174, 8, 8) linear-gradient(rgb(174, 8, 8), rgb(174, 8, 8));
    border-radius: 100px;
    padding: 10px 25px;
    color: #fff;
    font-family: 'Open Sans',
        sans-serif;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.btn:hover {
    box-shadow: none;
    background: rgb(129, 3, 3);
}

.brush {
    padding: 20px 10px 20px 43px;
    background: url(../img/brush.png) no-repeat center/100% 100%;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff
}

.brush__btn {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, .3);
    font-size: 20px;
    background: rgb(174, 8, 8) linear-gradient(rgb(174, 8, 8), rgb(174, 8, 8));
    border-radius: 100px;
    padding: 10px 25px;
    color: #fff;
    font-family: 'Open Sans',
        sans-serif;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(#ff7200, #fffe00,
            #ff7200);
    font-weight: 700;
    color: #000;
    font-size: 15px;
    width: 50%;
    padding: 5px 15px;
    margin: 5px 0;
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, .3);
}

.brush__percent {
    font-size: 54px;
    float: right;
    color: #fffe00;
    text-shadow: 2px 2px 2px #000;
    font-weight: 700;
    line-height: .7;
    font-style: italic;
}

.chevron {
    display:
        table;
    background: url(../img/chevron.png) no-repeat center/contain;
    text-align: center;
    color: #000;
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
}

.chevron b,
.chevron span {
    display: block;
}

.chevron span {
    letter-spacing: -1px;
}

.chevron__container {
    display: table-cell;
    vertical-align: middle;
    padding: 35px;
}

.chevron b {
    color: #c90202;
    font-size: 32px;

}

select::-ms-expand {
    display: none;
}

.chevron div:nth-child(2) {
    text-align: center;
    margin-top: 10px;
}

.chevron div:nth-child(2) b {
    font-size: 25px;
}

.chevron div:nth-child(2) span {

}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background: #fff url(../img/sel.png) no-repeat 96% 50%;
}

input,
input:focus,
input:hover,
input:visited,
input:active,
textarea:focus,
textarea:hover,
textarea:visited,
textarea:active,
textarea,
select:focus,
select:hover,
select:visited,
select:active,
select,
button,
button:active,
button:focus {
    outline: none;
    border: 0;
}

input::-webkit-input-placeholder {
    color: #6e6e6e;
}

input::-moz-placeholder {
    color: #6e6e6e;
}

input:-moz-placeholder {
    color: #6e6e6e;
}

input:-ms-input-placeholder {
    color: #6e6e6e;
}


[placeholder]:focus::-webkit-input-placeholder {
    color: transparent
}

[placeholder]:focus::-moz-placeholder {
    color: transparent
}

[placeholder]:focus:-ms-input-placeholder {
    color: transparent
}

[placeholder]:focus::placeholder {
    color: transparent
}

.sec2 {
    padding-bottom: 80px;
}

.sec2 .wrapper {
    padding-left: 200px;
}

.sec2 .wrapper::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgb(134, 201, 186), rgba(247, 125, 108, 0.35), rgba(247, 125, 108, 0.35), rgba(9, 81, 81, 0)),
        url(../img/sec2-1.jpg) no-repeat;
    width: 340px;
    height: 520px;
    left: -60px;
    top: -30px;
    background-size: contain;
}

.sec2__title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    padding-left: 150px;
}

.sec2__title+p {
    color: #ab1f1e;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    padding-left: 150px;
    text-align: center;
}

.sec2__list {
    font-size: 0;
    position: relative;
    z-index: 1;
    font-weight: 600;
}

.sec2__item {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    vertical-align: top;
    box-shadow: rgba(134, 201, 186, 0.18) 0px 32px 63px 0px,
        rgba(0, 0, 0, 0.4) 0px 0px 18px -3px;
    padding: 20px;
    font-size: 16px;
    background: #fff;
    min-height: 251px;
}

.sec2__item:last-child {
    margin-right: 0;
}

.sec2__item-img {
    border-radius: 100px;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(36deg, rgba(134, 201, 186, 0.5) 0%, rgba(198, 248, 237, 0.5) 47%);
    display: block;
    margin: 0 auto 30px;
    padding-top: 15px;
    position: relative;
}

.sec2__item-img::before {
    content: "";
    position: absolute;
    left: -15px;
    bottom: -15px;
    border-radius: 15px;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(55deg, rgba(134, 201, 186, 0.5) 0%, rgba(247, 125, 108, 0) 90%);
}

.sec2__item-img img {
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: auto;

}

.sec2__item li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.sec2__item li::before {
    content: "";
    background: url(../img/check2.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;

}

.sec3 {
    background: url(../img/sec3__bg.jpg) no-repeat center top/cover;
}



.sec3__list {
    font-size: 0;
}

.sec3__item {
    display: inline-block;
    width: 47.5%;
    margin-right: 5%;
    vertical-align: top;
    margin-bottom: 40px;
    background: linear-gradient(to right, #e0ccca, transparent);
    text-transform: uppercase;
    position: relative;
    padding-left: 165px;
    min-height: 150px;
}

.sec3__item:nth-child(even) {
    margin-right: 0;
}

.sec3__item:last-child {
    margin-right: 0;
    width: 100%;
}

.sec3__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.sec3__img img {
    border: 2px solid #fd9c8f;
}


.sec3__text {
    font-size: 16px;

    padding: 10px 0 10px 0;
}

.sec3__caption {
    color: #c90202;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 10px;
}

.green-line p {
    padding: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: #2b6f39 repeating-linear-gradient(45deg, #2b6f39 0, #2b6f39 5px, #085c1f 5px, #085c1f 10px);
    font-size: 30px;
}

.sec5 {
    padding: 170px 0;
    background: url(../img/sec5__bg.jpg) no-repeat center/cover;
}

.sec5 .wrapper {
    padding-left: 400px;
}

.sec5 p {
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px -2px;
    border: 3px dashed rgb(253, 156, 143);
    border-radius: 20px;
    position: relative;
    background: #fff;
    font-size: 18px;
    line-height: 1.6;
}

.sec5 p::before {
    content: "";
    background: url(../img/sec5-1.png) no-repeat;
    width: 263px;
    height: 395px;
    position: absolute;
    bottom: -106px;
    left: -245px;
}

.sec6 {
    font-size: 0;
}

.sec6__left,
.sec6__right {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    font-size: 18px;
}

.percent-graph {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.percent-text {
    display: block;
    color: #fff !important;
}

.graph-container {
    position: relative;
    width: 250px;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
}

.graph-container svg circle {
        stroke-width: 0.2cm;
    stroke-dasharray: 597.319, 0;
    stroke-dashoffset: 214.08;
    fill: #095151;
}

.graph-container span {
    position: absolute;
    bottom: 85px;
    left: 0;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.graph-container .percent-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-family: Arial;
}

.sec6__percent {
    background: #095151;
    max-width: 360px;
    padding: 20px;
    position: relative;
}

.sec6__percent::after {
    content: "";
    background: url(../img/bright-arrow.png) no-repeat;
    bottom: 20px;
    right: -40px;
    width: 72px;
    height: 19px;
    position: absolute;
}

.sec6__percent p {
    font-size: 18px;
    text-align: center;
    color: #fff
}

.sec6__right {
    width: 55%;
}

.sec6__right-title {
    color: #c90202;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
}



.t-row {
    margin-bottom: 20px;
    font-size: 0;
}

.t-cell {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    position: relative;

}


.t-cell:nth-child(1) {
    width: 25%;
    padding-right: 15px;
}

.t-cell:nth-child(2) {
    background: #e9f5f3;
    border-radius: 10px;
    overflow: hidden;
    width: 75%;
}

.t-cell:nth-child(2) span {
    color: #fff;
    padding: 10px;
    display: block;
    position: relative;
    z-index: 1;
}

.t-cell:nth-child(2) .t-cell__line {
    background: #095151;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

}

.t-row:nth-child(1) .t-cell:nth-child(2) .t-cell__line {
    width: 89%;
}

.t-row:nth-child(2) .t-cell:nth-child(2) .t-cell__line {
    width: 15%;
}

.sec7 {
    background: #3d929a;
    color: #fff;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 24px;

}

.sec8 {
    background: #efebeb url(../img/sec8__triangle.png) no-repeat top center/100% 85%;
}



.sec8__list {
    font-size: 0;
    position: relative;
    width: 50%;
}

.sec8__list--left {
    float: left;
    padding-right: 150px;
}

.sec8__list--right {
    float: right;
    padding-left: 150px;
}

.sec8__list--right::before {
    content: "";
    background: url(../img/prod.png) no-repeat;
    position: absolute;
    left: -160px;
    top: 20px;
    width: 315px;
    height: 329px;
    background-size: contain;
}

.sec8__item {

    margin-bottom: 30px;
    border-radius: 15px;
    background-image: linear-gradient(55deg, rgba(35, 132, 141, 0.9) 0%, rgba(134, 201, 186, 0.13) 90%);
    padding: 15px 30px;
}




.sec8__count {
    color: rgb(255, 209, 0);
    font-size: 60px;
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    max-width: 150px;
    font-weight: 700;
}

.sec8__text {
    display: inline-block;
    vertical-align: middle;
    width: 85%;
    font-size: 16px;
    font-weight: 700;
    padding-left: 15px;
}

.sec9__title {
    font-size: 30px;
}

.sec9__list {
    font-size: 0;
    font-weight: 600;
}

.sec9__item {
    position: relative;
    width: 47.5%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 45px;
}

.sec9__item:nth-child(even) {
    margin-right: 0;
}

.sec9__item::after {
    content: "";
    background: url(../img/check3.svg) no-repeat;
    position: absolute;
    top: -7px;
    left: 0;
    width: 35px;

    height: 35px;
}

.sec10 {
    padding: 190px 0;
    background: #095151;
    color: #fff;
    text-align: center;
}

.sec10 .wrapper {
    padding-left: 510px;
}

.sec10 .wrapper::before {
    content: "";
    background: url(../img/sec10-1.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: -105px;
    width: 450px;
    height: 648px;
    z-index: 1;
}

.sec10 .wrapper::after {
    content: "";
    position: absolute;
    left: -35px;
    bottom: -140px;
    width: 370px;
    height: 370px;
    border-radius: 50px;
    background: linear-gradient(45deg,

            rgba(247, 125, 108, 0.35) 0%,
            rgba(247, 125, 108, 0) 69%);
}

.sec10__title {
    font-size: 30px;
    margin-bottom: 60px;
}

.sec10__price {
    margin-top: 30px;

}

.sec10__price b {
    font-size: 30px;
}

.sec11 {

    background: #c3e4dd;
}

.sec11__content {
    font-size: 0;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 7px 0px;
    padding: 40px;
}

.sec11__left,
.sec11__right {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.sec11__right {
    width: 60%;
    padding-left: 30px;
}

.sec11__left img {
    margin-bottom: 35px;
    display: block;
}

.sec11__title {
    font-size: 30px;
    font-weight: 700;
}

.sec11__title b {
    font-size: 37px;
    display: block;
}

.sec11__item {
    margin-bottom: 30px;
    font-size: 0;
    border: 10px solid #d9f0fb;
    position: relative;
    padding: 10px;
}

.sec11__item::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    bottom: -20px;
    left: -20px;
    background: #fff;
}

.sec11__item::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -20px;
    right: -20px;
    background: #fff;
}

.sec11__item-img,
.sec11__item-text {
    display: inline-block;
    vertical-align: top;
    width: 25%;

}

.sec11__item-img img {
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.sec11__item-text {
    width: 75%;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 20px;
    font-weight: 600;

}

.sec12 {
    padding-bottom: 140px;
}


.sec12__list {
    font-size: 20px;
    font-weight: 600;
}

.sec12__item {
    border-right: 2px solid #c2e4dc;
    border-left: 2px dashed #c2e4dc;
    padding: 40px;
    border-bottom: 2px solid #c2e4dc;
    position: relative;
}

.sec12__item:first-child {
    border-top: 2px solid #c2e4dc;
}


.sec12__item::before {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: -30px;
    text-align: center;
    line-height: 49px;
    left: -30px;
    background: rgba(35, 132, 141, 0.88);
    border: 5px solid rgba(134, 201, 186, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    counter-increment: section;
    content: counters(section, ".") " ";
}

@media(min-width: 992px) and (max-width: 1030px) {
    .sec12__item::before {
        left: -15px;
    }
}

.sec13 {
    background: #095151;
    font-size: 0;
}

.sec13 .wrapper {
    color: #fff;
}

.sec13__left {
    display: inline-block;
    vertical-align: top;
    width: 38%;
}

.sec13__doc {
    background: url(../img/sec13_doc.png) no-repeat;
    position: relative;
    width: 359px;
    height: 600px;
    border-radius: 30px;
    margin-top: -120px;
}

.sec13__doc::after {
    content: "";
    position: absolute;
    left: -35px;
    bottom: -35px;
    width: 370px;
    height: 370px;
    border-radius: 50px;
    background: linear-gradient(45deg, rgba(247, 125, 108, 0.35) 0%,
            rgba(247, 125, 108, 0) 69%);
}

.sec13__right {
    display: inline-block;
    vertical-align: top;
    width: 62%;
    font-size: 16px;
    padding-left: 40px;
}





.sec13 p {
    line-height: 1.6;
}

.sec13 p:last-child {
    text-align: right;
    margin-top: 15px;
}

.sec14::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    left: 53%;
    top: 57%;
    background: #c2e3dc;
    transform: skewX(10deg) skewY(3deg) translateX(-50%) translateY(-50%);
    border-radius: 0 100px 0 100px;
    pointer-events: none;
}



.sec14__list {
    font-size: 0;
}

.sec14__item {
    display: inline-block;
    font-size: 15px;
    width: 32%;
    margin-right: 2%;


    color: #747878;
    vertical-align: top;

}

.sec14__item-container {
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 6px 0px;
    border-radius: 30px;

}

.sec14__item:last-child {
    margin-right: 0;
}

.sec14__item-ava img {
    border-radius: 50%;
    float: left;
    max-width: 80px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.sec14__name {
    padding-left: 100px;
}

.sec14__name::after {
    content: "";
    margin-top: 4px;
    border-radius: 45px;
    background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.17), rgba(255, 255, 255, 0.17) 3px, transparent 3px, transparent 6px),
        linear-gradient(45deg, rgb(253, 156, 143) 0%, rgb(134, 201, 186) 100%);
    display: block;
    width: 50px;
    height: 20px;
}


.sec14__text {
    line-height: 1.5;
    font-style: italic;

}

.sec15 {
    background: url(../img/sec15__bg.jpeg) no-repeat center/cover;

}

.sec15__title {
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 1px;
    color: #fff;
    margin-bottom: 50px;
}

.sec15 .btn {
    max-width: 330px;
    margin: 0 auto 20px;
    display: block;
}

.btn--bigger {
    background: #d51004;
    font-weight: 700;
    padding: 15px 35px;
    font-size: 22px;
}

.sec15__price-text {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 27px;
}

.sec15__price-text+span {
    display: block;
    color: #ab1f1e;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 30px;
}

.sec15__container {
    font-size: 0;
    text-align: right;
    margin-bottom: 90px;
}

.sec15__prod {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 60%;
    padding-right: 150px;
    font-size: 16px;
}

.sec15__form {
    display: inline-block;
    vertical-align: bottom;
    width: 40%;
    font-size: 16px;
    text-align: left;
    margin-right: 5%;
}

.sec15 .chevron {
    position: absolute;
    top: -106px;
    right: 59px;
}

.sec16 {
    background: #095151;
    color: #838f8f;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    margin-top: 20px;
}
.animation .circle-border {
    animation: wheel 3s;
    
    animation-fill-mode: forwards;
}

.circle-border {
}

